{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block 'title' %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
</head>

<body
	class="antialias bg-[#CEA0A0] dark:bg-slate-700 text-white dark:text-slate-400 flex flex-col justify-between min-h-screen">
	{% include 'libshare/header.html' %}
	{% block 'content' %}{% endblock %}
	{% include 'libshare/footer.html' %}
	<script src="{% static 'libshare/js/global.js' %}"></script>
	<script src="{% static 'libshare/js/theme.js' %}"></script>
	<script src="{% static 'libshare/js/menu.js' %}"></script>
	{% block 'js' %}{% endblock %}
</body>

</html>
